## List Comprehensions

```
L = [*object, expression, or function* for *element* in *sequence*]
L = [*object, expression, or function* for *element* in *sequence* if *Boolean expression*]
L = [*object, expression, or function* for *element* in *sequence* for *element2* in *sequence2*]
```

* Provide a concise way to create lists
* Faster because implemented in C
* Nested list comprehension can be somewhat confusing

**Slides were originally created by Dr. Milena Tsvetkova,  London School of Economics.*

## List Comprehensions

In [ ]:
#create a list:
#[1,2,3,4,5,6]
L1=[i for i in range(1,15)]
print (L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
ans = []
for x in range(1,11):
    ans.append(x**2)
print(ans)

print([x**2 for x in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#remove the space from the words in the following list
WordList=[' john ', ' Mary', 'Jack ']
WordList2=[item.strip() for item in WordList]
print (WordList2)

['john', 'Mary', 'Jack']

In [ ]:
#create a list of positive even integers
[item for item in range(1,20) if item%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#two loops
[i+j for i in range(1,3) for j in range(4,7)]

[5, 6, 7, 6, 7, 8]

In [ ]:
print([x+y for x in ['a', 'b', 'c'] for y in ['1','2', '3']])

['a1', 'a2', 'a3', 'b1', 'b2', 'b3', 'c1', 'c2', 'c3']

In [ ]:
def square_half(x):
    '''Assumes x is numeric. Estimates the square of x/2.'''
    return (x/2)**2

lst = [square_half(i) for i in range(10)]
print(lst)

[0.0, 0.25, 1.0, 2.25, 4.0, 6.25, 9.0, 12.25, 16.0, 20.25]

In [ ]:
#combine lists
L1=[1,2,3]
L2=[4,5,6]
L3=L1+L2
#[[i,j] for i in L1 for j in L2]
[item[0]/item[1] for item in zip(L1,L2)]

[0.25, 0.4, 0.5]

## Dictionary and Set Comprehensions

In [ ]:
print({x: x**2 for x in range(1,11)})
print({x.lower(): y for x, y in [('A',1), ('b',2), ('C',3)]})
print({item[0].lower(): item[1] for item in [('A',1), ('b',2), ('C',3)]})

print({x.lower() for x in 'SomeRandomSTRING'})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'d', 'r', 's', 'e', 'a', 'i', 'o', 'n', 'g', 'm', 't'}